Item:
<input type="text" size="30" placeholder="Item for your cart"
    ng-model="ctrl.item">
<button type="button" ng-click="ctrl.addToCart()">Add to Cart</button>

<ul>
    <li ng-repeat="i in ctrl.cart">
        <a href="#/product/{{ i}}">
            <h3> {{ i }} </h3>
        </a>
    </li>

</ul>
